.post-rev-container {
  width: 80%;
  margin: auto;
}

.post-rev-form-container {
  display: grid;
  box-sizing: border-box;
  margin: auto;
}

.post-rev-align-left {
  font-size: 1post-rev-5em;
  text-align: left;
}

.post-rev-grid {
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
}

.post-rev-grid-item {
  height: 70px;
  width: 100%;
}

.post-rev-error-text {
  color: #bd1e1e;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.span-2 {
  height: 500px;
  grid-row-start: 1;
  grid-row-end: 20;
}
.error-text {
  color: #bd1e1e;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.success-text {
  color: #05860b;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.material-icons {
  color: rgb(240, 33, 33);
  cursor: pointer;
}

.post-rev-submit {
  font-weight: 600;
  border-radius: 5px;
  background-color: #e50914;
  text-decoration: none;
  color: #fff;
  border: none;
  text-transform: capitalize;
  padding: 1em 2em;
  height: 100%;
  cursor: pointer;
  margin-right: 1em;
}
