.form-container {
  display: grid;
  box-sizing: border-box;
  margin: auto;
  width: 80%;
}

.align-left {
  font-size: 1.5em;
  text-align: left;
}

.grid {
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
}

.grid-item {
  height: 70px;
  width: 100%;
}

.error-text {
  color: #bd1e1e;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
