.submit-button {
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  background-color: #e50914;
  text-decoration: none;
  color: #fff;
  border: none;
  text-transform: capitalize;
  width: auto;
  padding: 0 2%;
  height: 3em;
  cursor: pointer;
}

.red-submit {
  width: 100%;
  font-size: 1.25em;
  transition-duration: 300ms;
}

.red-submit:hover {
  background-color: rgb(240, 23, 23);
}

button {
  outline: none;
}
