.submit-button {
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(240, 33, 33);
  text-decoration: none;
  color: #fff;
  border: none;
  text-transform: capitalize;
  width: auto;
  padding: 0 2%;
  height: 3em;
  cursor: pointer;
}

.red-submit {
  border-radius: 3px;
  width: 100%;
  height: 50px;
  background-color: rgb(211, 35, 35);
  border: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.25em;
  cursor: pointer;
  letter-spacing: 0.1em;
  transition-duration: 300ms;
}

.red-submit:hover {
  background-color: #f01721;
}

button {
  outline: none;
}
