.pill {
  border-radius: 3px;
  background-color: rgba(246, 246, 246, 0.253);
  display: inline-block;
  font-size: 0.9em;
  height: 22px;
  line-height: 22px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
