.card-container {
  width: 80%;
  margin: 15px auto;
  z-index: 2;
  position: relative;
  top: -120px;
}
.card-title {
  font-weight: 600;
  font-size: 1.3em;
  color: rgb(229, 229, 229);
  letter-spacing: 0.1em;
  line-height: 3;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 0.9em;
    line-height: 1;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
