.post-container {
  width: 70%;
  margin: auto;
}

.post-heading {
  padding-top: 180px;
  padding-bottom: 50px;
  text-align: left;
  color: #d8d8d8;
  position: relative;
  line-height: 36px;
}

.post-heading h2 {
  color: #d8d8d8;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.subtitle {
  padding-top: 1em;
  margin: 0;
  letter-spacing: 0.02em;
}

.post-content {
  margin-top: 80px;
  text-align: justify;
  line-height: 2em;
  font-size: 18px;
}

.post-section-subtext {
  color: #d8d8d8;
  font-weight: 600;
  letter-spacing: 1px;
  display: grid;
}

.post-genre-row {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.post-tag {
  color: #cccccc7a;
  margin-right: 5px;
  letter-spacing: normal;
}

.post-image img {
  width: 100%;
}

.review {
  font-size: 1.15em;
  color: #d8d8d8;
  line-height: 2em;
}

.review a {
  color: #d8d8d8;
}
